[2020-02-07 20:22] Maxtab commented on #141
EN version for other readers
Prestashop Version
1.7.6.3

Eicaptcha version
2.0.4

Do you use a specific theme
breeze Version 2.0.3
Designed by Anvanto Team

Describe the bug
The captcha works properly and appears well on the contact page, but when you display the contact widget on a content page for example, the captcha does not appear.

screenshots
The captcha appears well on the classic contact

[2020-02-13 17:44] truthSeekr opened #142 "Compatibility version issue."
**Prestashop Version**
1.7.3.1

**Eicaptcha version**
https://github.com/nenes25/eicaptcha/releases/tag/0.4.17

**Do you use a specific theme**
no

**Describe the bug**
When I try to upload zip file with module it says "Your version of module is not compatibile with the version of your Prestashop".

[2020-02-13 17:46] #142 closed

[2020-02-13 17:47] truthSeekr commented on #142
I should install 2.04 not 0.4.17.... my bad english

[2020-02-19 03:36] vladisu opened #143 "Module Installation"
**Prestashop Version**
1.6.1.5

**Eicaptcha version**
0.4.17
**Do you use a specific theme**
SNS Kanta Theme

**Describe the bug**
During installation of the module (tired both auto and manual) received following errors:

eicaptcha (parse error in /modules/eicaptcha/eicaptcha.php)
eicaptcha (class missing in /modules/eicaptcha/eicaptcha.php)

[2020-02-19 13:42] nenes25 commented on #143
Hi,
Did you download the module from the release page ?
https://github.com/nenes25/eicaptcha/releases/tag/0.4.17

Regards,

[2020-02-19 21:00] jbcorsu commented on #128
Merci grâce a ces détail je viens de réussir.
Merci encore.

[2020-02-20 02:37] vladisu commented on #143
Hi, yes I download that

[2020-02-20 02:44] vladisu commented on #143
Now I'm getting this type of error...

[2020-02-20 02:44] vladisu commented on #143
![image](https://user-images.githubusercontent.com/61218613/74895962-fb6f5500-53cd-11ea-9252-64cfa0ad8def.png)

Now I'm getting this type of error...

[2020-02-20 07:57] nenes25 commented on #143
Could you please check your php version ?
I'm not able to reproduce your erreur.
Moreover the relase have been downloaded hundred of times without this kind of error
So i guess it should be related with your server configuration

Regards,

[2020-02-23 10:44] pipoe2h commented on #140
I'm having this exact issue too.

[2020-02-23 11:14] pipoe2h commented on #140
Found the problem, for Prestashop 1.7 you must upload version 2.0.4 of the module.
https://github.com/nenes25/eicaptcha/releases/tag/2.0.4

[2020-02-23 15:30] #140 closed

[2020-02-25 23:05] rtajmahal opened #144 "ReCaptcha n'apparait pas sur le form. de contact / Erreurs dans BO"
**Prestashop Version**
1.7.6.3

**Eicaptcha version**
0.4.17

**Do you use a specific theme**
Warehouse 4.3.2

**Describe the bug**
ReCaptcha n'apparait pas sur le formulaire de contact et des messages d'erreurs sont apparus (Vérifier l'installation du module)

Errors
the module is not compatible with your version
the module is not registered in hook contactFormAccess
the module is not registered

[2020-03-02 19:50] nenes25 commented on #144
Bonjour,
Merci d'installer la version 2.0 sur prestashop 1.7 https://github.com/nenes25/eicaptcha/releases/tag/2.0.4
Ceci corrigera votre problème,
Cordialement,

[2020-03-02 19:50] #144 closed

[2020-03-03 18:00] rtajmahal commented on #144
Bonjour,

Je viens d'installer la version 2.0.4, recaptcha semble fonctionner sur la page de contact mais au moment de la vérification de l'installation du module, j'ai une erreur (contacform.php override does not exists):

Errors
contacform.php override does not exists
Success
the module is compatible with your version
the module is well registered in hook header
the module is well registered in

[2020-03-03 19:23] nenes25 commented on #144
Bonjour,
C'est un faux positif lié à une faute de frappe dans la vérif.
Ce sera corrigé dans la prochaine release mais le module est bien fonctionnel :)

Cordialement

[2020-03-22 12:42] alfonsolr09 opened #145 "Captcha error prestashop 1.7"
**Prestashop Version**
1.7.6.4

**Eicaptcha version**
2.0.4

**Do you use a specific theme**
Classic

**Describe the bug**
Captcha works fine, but
At the end of an order when I must log in or ask as a guest, there is a captcha that does not work, if I do not fill it, let me go to the next step.

**Screenshots**
https://prnt.sc/rklpba
https://prnt.sc/rklph2

**Additional context**
is it possible to

[2020-03-22 12:48] alfonsolr09 commented on #129
Hola, lo primero que debes hacer es traducir el módulo para cada idioma.

1.  Seleccionas Traducciones
https://prnt.sc/rklrg4

2.  Seleccionas el módulo que desea traducir y el idioma
https://prnt.sc/rklrlw

3.  Ahora ya puedes traducir las palabras del módulo

[2020-03-22 12:49] alfonsolr09 commented on #129
Hello, the first thing you should do is translate the module for each language.

1. You select Translations
https://prnt.sc/rklrg4

2. Select the module you want to translate and the language
https://prnt.sc/rklrlw

3. Now you can translate the words of the module

[2020-03-22 13:07] alfonsolr09 commented on #124
Can you explain how you did it
or send the modified file please?

[2020-03-23 21:06] mwfurio opened #146 "Error! Cant perform action on eicaptcha. Not possible to install override: The method initContent in the class AuthController isalready overwritten by module onepagecheckoutps version 3.0.0"
**Prestashop Version**
1.7.5.1

**Eicaptcha version**
Eicaptcha version - latest

**Do you use a specific theme**
Yes, eletric

**Describe the bug**
installing without problems but when i want to enable i get the error cant install overwrite, already overwritten by onepagecheckout v.3

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any othe

[2020-03-24 08:14] nenes25 commented on #146
Hi,
The problem is clear, the file AuthController.php is already overwrite by another module.
So you'll have to put the override manualy
remove the directory override/controller/front/ from module and apply the code from the file
 https://github.com/nenes25/eicaptcha/blob/17/override/controllers/front/AuthController.php

Regards,

[2020-03-24 09:34] Maite1976 opened #147 "I can't install the module"
**Prestashop Version**
1.7.6.1

**Eicaptcha version**
V 0.4.17

I can't install the module, the error is "This file is not a valid ZIP format module."

[2020-03-24 10:15] nenes25 commented on #147
Hi,
Please download this release : https://github.com/nenes25/eicaptcha/releases/tag/2.0.4
Regards,

[2020-03-24 10:15] #147 closed

[2020-03-24 10:44] mwfurio commented on #146
Thanks for the reply, where to apply the code? Sorry iam not a pro in this but i can edit files and stuff.

[2020-03-24 13:05] nenes25 commented on #146
Hi,

I dont' know what your installed module make in the override.

But you should try to insert the code of link of my previous message in your local override/controller/front/AuthController.php file
( Do it in a dev environment , to be sure everything works fine )

Regards,

[2020-03-25 09:09] Maite1976 commented on #147
Thanks!!!

[2020-03-26 05:07] oskr96 opened #148 "The module works fine in the contact form, but the customer account creation doesn't work after installation"
**Prestashop Version**
1.7.6.4

**Eicaptcha version**
0.4.17

**Do you use a specific theme**
Yes, mediastack

**Describe the bug**
I can install and make work the module in the contact form after edit the limit of the version in the eicaptcha.php file and add a div with the id 'captcha-box' to  contactform.tpl file of my template, but, after installation the customer account creation doesn't work

[2020-03-26 06:16] nenes25 commented on #148
Hi,
you have installed the wrong version
Please download the one for ps 1.7+ here => https://github.com/nenes25/eicaptcha/releases/tag/2.0.4

Regards

[2020-03-26 18:37] oskr96 commented on #148
Yes, you have reason! :v Thank's for the help!

[2020-03-28 21:48] onfre commented on #59
Bonjour Nenes25, je rencontre le même problème sur la version 1.7.6.2, merci pour ce module indispensable !
Comment faire fonctionner le module sans avoir l'erreur malgré la modification/remplacement du fichier tpl ?
Merci beaucoup pour votre aide.

[2020-03-29 08:28] onfre commented on #117
Hello, so what do we need to do, i don't understand ! Thank you.

I meet the same issue with my 1.7.6.2 prestashop version :

"Please validate the captcha field before submitting your request" but I have already validated and captcha returned ok.

I have tried to replace the contactform.tpl file with the good one from this page https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/themes/classic/m

[2020-03-29 08:56] onfre opened #149 "Error message when submitting: Please validate the captcha field before submitting your request"
**Prestashop Version**
1.7.6.2

**Eicaptcha version**
2.0.4

**Do you use a specific theme**
no
**Describe the bug**
Error message when submitting: Please validate the captcha field before submitting your request.

**Screenshots**
following message appears : Merci de valider le captcha

**Additional context**
I already empty the cache
I already replaced the contactform.tpl file with the right one

[2020-03-29 17:58] keeper7 opened #150 "v2.0.5 not released"
**Prestashop Version**
1.7.x.x

**Eicaptcha version**
2.0.5

**Do you use a specific theme**
no

**Describe the bug**
In release notes there is v 2.0.5 from 2019-04-23 but is not released.

[2020-04-02 09:47] dutom007 opened #152 "[P1.6 - 0.50] Contact Form refresh on submit"
Bonjour j'ai installé le module 0.5 sur mon presta :
https://www.selleriedumeneur.fr/contactez-nous

A la soumission le formulaire n'est que rafraichi...
![image](https://user-images.githubusercontent.com/11500275/78234604-adbf2f80-74d7-11ea-95c7-6356c31b017b.png)

Je ne peux ajouter ajouter le module au hook "contactFormAccess" il ne fait pas partie de la liste
![image](https://user-images.github

[2020-04-02 12:58] nenes25 commented on #152
Bonjour,

Cette version n'est pas encore finalisée.
Merci de télécharger la dernière version releasée depuis cette page : https://github.com/nenes25/eicaptcha/releases/tag/0.4.17

Cordialement,

[2020-04-02 13:02] dutom007 commented on #152
Bonjour Hervé,

J'avais le souci avec 0.4.17 c'est pour cela que j'ai tenté le 0.5

[2020-04-02 13:22] nenes25 commented on #152
Il n'est pas nécessaire d'ajouter manuellement les hooks tout est automatique.
Lors de l'installation du module les hooks non existants sont ajoutés automatiquement également.

Ce module a déjà quelques années et fonctionne relativement bien, par contre la version 7.3 de php n'étant pas officiellement supportée par prestashop 1.6 il n'a jamais été testé sur cette version.

Regardez éventuellement

[2020-04-02 13:37] dutom007 commented on #152
Hervé,

Je suis repassé en version 5.6 est effectivement la réinstallation du module à bien mis en place les hook est c'est fonctionnel.

Je tente la mise à jour 1.6.24 pour assurer la validité 7.3 et tente à nouveau.

Je vous communiquerais le résultat

[2020-04-03 11:57] aln-1 commented on #135
I vote for this!! Same JS error on the registration form.

[2020-04-03 12:42] aln-1 commented on #135
fixed in :
https://github.com/nenes25/eicaptcha/pull/153

[2020-04-05 20:52] nik012003 opened #154 "Add newsletter captcha"
**Is your feature request related to a problem? Please describe.**
I'm getting lots of spam account creations thru the newsletter registration form.

**Describe the solution you'd like**
Could we get a captcha to show up even on the newsletter subscribe from?

I'm running ps 1.7.6.4 by the way.

[2020-04-06 07:32] nenes25 commented on #154
Hi,
Thanks for the feedback.
Unfortunately this update is not planed as it add new problematic to solve,and i've already a lack of time to maintain this module.
I think that some paying modules do it on prestashop addons.

Regards,

[2020-04-06 07:32] #154 closed

[2020-04-07 16:55] Guiguimps commented on #124
@castellinosoftware and @alfonsolr09

I added `override/controllers/front/OrderController.php`
with this content :

[code]
The important thing is :
• `$this->checkoutProcess->handleRequest();` where `handleRequest();` has no parameters
•  `FrontController::initContent();`
•  and don't forget the `use` condition in the begining of the file

I don't know if it's a good modification, but it seems to

[2020-04-07 22:16] alfonsolr09 commented on #124
@guiguimps

I did what you said, I copied the file, but I can still skip the captcha without confirming it

[2020-04-08 14:55] Guiguimps commented on #124
Sorry, I'm not enough a good programmer to help you... I think we should wait for the next release

[2020-04-11 13:09] nenes25 commented on #150
Hi,
Thanks for the feedback, i'm planning to work on this module this month
So the next version may be released ;)

[2020-04-11 13:10] nenes25 commented on #152
Merci du retour, en attendant je ferme donc cette issue.

[2020-04-11 13:10] #152 closed

[2020-04-11 13:11] nenes25 commented on #148
You're welcome, so i close the issue :)

[2020-04-11 13:11] #148 closed

[2020-04-11 13:12] nenes25 commented on #143
No feebacks, issue closed

[2020-04-11 13:12] #143 closed

[2020-04-11 13:13] nenes25 commented on #139
No feebacks, issue closed

[2020-04-11 13:13] #139 closed

[2020-04-11 13:13] nenes25 commented on #138
No feedbacks, issue closed

[2020-04-11 13:13] #138 closed

[2020-04-11 13:14] nenes25 commented on #127
Done in last 0.5.0 version

[2020-04-11 13:14] #127 closed

[2020-04-11 13:15] #136 closed

[2020-04-11 13:20] #27 closed

[2020-04-19 06:01] rohithudda opened #155 "Having issue with install package"
**Prestashop Version**
1.7.6.4

**Eicaptcha version**
Latest

**Do you use a specific theme**
Default

**Describe the bug**
Unable to install

**Screenshots**
![Screenshot_2020-04-19 Module manager • Your Shop](https://user-images.githubusercontent.com/9127744/79680766-f80f1300-8230-11ea-88d3-55aa1dc0d2bf.png)

[2020-04-20 14:37] #65 closed

[2020-04-30 09:56] LGx0 commented on #149
Hello.

Prestashop version: 1.7.6.4
Eicaptcha version: 2.0.4

Error:Please validate the captcha field before submitting your request

Clear cache, but doesn't work.

Please help me.

Thank you very much.

Best regards,

[2020-05-03 16:51] neich78 commented on #155
Happens the same in 1.7.6.1 version. Thanks

[2020-05-09 09:59] kcuk80 commented on #155
Same on PrestaShop version: 1.7.2.5

[2020-05-13 10:44] ToniAlvarez commented on #124
I've the same issue with Prestashop 1.7.6.5 and 2.0.4

[2020-05-19 10:48] Pinou10001 opened #156 "Undefined variables when verifying"
**Prestashop Version**
1.6.1.10

**Eicaptcha version**
0.4.17

**Do you use a specific theme**
Bootstrap default theme

**Describe the bug**
When we want to verify if the module is well installed or not, there is undefined variables.

**Screenshots**
https://prnt.sc/sjl9mr (When installation is good)

[2020-05-25 07:12] nenes25 commented on #156
Thanks for the provided fix :)

[2020-05-25 07:12] #156 closed

[2020-05-25 08:10] mnowrouzi opened #158 "Div captcha box is empty"
Hi
Thanks for your plugin but I have not used that :D please help me to use it.

After I added `<div id = "captcha-box"> </div>` in contact-form.tpl. div added but it is empty!

here is my site address and you can check yourself.
https://www.senoqte.com/contact-us

**1.6.1.24**
prestashop version

**0.4.17**
Eicaptcha version

**leo_cool_stuff**
Theme name

[2020-05-30 19:43] alfonsolr09 commented on #124
@nenes25 how can i do?

[2020-05-31 18:30] onfre commented on #149
Still doesn't work for me. I will desinstall it.

[2020-06-02 14:44] JawaB commented on #100
Same for me...
PS 1.6.1.23 module 0.4.17
Contact form thrown an error "incorrect response to captcha  challenge, please try again"

[2020-06-11 16:01] badchy commented on #138
thanks. V2 api :)

Excelent work

[2020-07-01 12:55] dragon-sa opened #159 "Captcha v2 not showing in contact form but does show in sign up form"
**Prestashop Version**
Your prestashop version 1.7.6.5

**Eicaptcha version**
Eicaptcha version 2.0.4

**Do you use a specific theme**
Classic

**Describe the bug**
Installed module eicaptcha 2.0.4 successfully, Configured it with my site and secret keys, turned it on for contact form and sign up, cleared my cache, check signup page captcha is visible and works, goto contact form and captcha is no

[2020-07-02 10:49] nenes25 commented on #159
Hi,

Could you please me give an url to check ?

Regards,

[2020-07-02 11:01] dragon-sa commented on #159
Hi
Thanks for getting back, https://cncbloke.com.au/shop

[2020-07-02 11:33] nenes25 commented on #159
Hi,
Weird i have an error in the console saying that the placeholder does not exists
![image](https://user-images.githubusercontent.com/7163132/86353497-9a069f00-bc67-11ea-9f3d-afdb59ced696.png)
Could you try to add the placeholder manually in the contact form ?
`<div id="captcha-box"></div>`

I am unable to reproduce the issue on my side with the same configuration.

[2020-07-02 11:41] dragon-sa commented on #159
Ok I have added that to contactform.tpl, I can see the div tag when I inspect the code but not the captcha box.

here is the code
`{**
 * 2007-2019 PrestaShop and Contributors
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this UR

[2020-07-02 11:52] nenes25 commented on #159
Seems good but still not working.
I'll need to investigate more, for now i have no clue from where comes this issue

[2020-07-02 12:04] dragon-sa commented on #159
Ok thanks, let me know if you need me to do anything else,

 it does work on the sign up page so it is strange its not working here

[2020-07-20 19:15] TboneCoder commented on #159
I've been having the same problem on 1.7.6.5. Chased down a few dead ends within PrestaShop. Not sure if this helps but this is what I get on Chrome.

![screencap1](https://user-images.githubusercontent.com/62967181/87975034-e5021e00-ca7f-11ea-80a1-f0fe2b6e5816.png)

[2020-07-21 01:56] dragon-sa commented on #159
This is what mine throws on page load
![captch-error-contact](https://user-images.githubusercontent.com/67693709/88003842-ef3a2000-cb44-11ea-9095-d6083a33728d.jpg)

[2020-07-27 06:18] dragon-sa commented on #159
In the backend when I run the test for EI captch installed well I get the following error
contacform.php override does not exists

[2020-08-02 15:15] pks891618 opened #160 "Getting erro in 1.7.6.5"
**Prestashop Version**
1.7.6.5
**Eicaptcha version**
2.0.4

**Do you use a specific theme**
its default theme

**Describe the bug**
Failed to load resource: the server responded with a status of 400 () contact-us:87
 Uncaught ReferenceError: Recaptcha is not defined

**Screenshots**

http://i.imgur.com/o9Fx066.png

[2020-08-02 15:23] pks891618 commented on #160
http://i.imgur.com/WOQ7teV.png

another error on the same version

[2020-08-03 22:56] JaykubCZ commented on #109
I have the same problem. Can you solve that please?

[2020-08-03 23:11] JaykubCZ commented on #108
yes, this would help me too, but i have the same problem on 1.7.6.7 version and THE CHECKOUT checkout

[2020-08-05 06:14] JaykubCZ commented on #109
is this project dead?

[2020-08-05 06:14] JaykubCZ commented on #108
is this project dead?

[2020-08-05 07:41] nenes25 commented on #109
Hi,

Nope the project is not dead, but i'm the only one working on it during my free time.
Since a couple of months i have no time to check unfortunately, and this project is not in my top priorities.
But as it's an open source project every one is welcome to contribute.

Regards,

[2020-08-09 18:32] cl-consulting commented on #160
I confirm that it's not compatible with Prestashop 1.7.6.7 : error  when downloading in Backoffice

[2020-08-12 08:14] BoutiquesInternet opened #161 "eicaptcha-ajax.php is indexed"
**Prestashop Version**
1.7.6

**Eicaptcha version**
0.4.17

**Describe the bug**
The file eicaptcha-ajax.php is indexed by Google (Indexée malgré le blocage par le fichier robots.txt)

[2020-08-12 08:52] nenes25 commented on #161
Bonjour,

Désolé mais pour le coup cela n'a rien à voir avec le module.
Je ne pourrais malheureusement rien faire pour corriger cela.

Cordialement,

[2020-08-12 08:52] #161 closed

[2020-08-12 09:13] matasskarzauskas commented on #161
Hi @BoutiquesInternet
Check your shops robots.txt file, it is not possible for Google to index the file if it is blocked. Also, give it a day or two to completely reindex.

[2020-08-12 09:39] BoutiquesInternet commented on #161
Hi,

Thanks for the replies.
robots.txt prestashop file is generate automaticaly, all custom modification can be lost.
So it's a problem :/

It's not possible to add noindex for this file ?

[2020-08-12 10:02] matasskarzauskas commented on #161
Well, the robots.txt doesn't regenerate if you dont tell Prestashop to, so you can do the changes and leave it something like so:

User-agent: Googlebot
Disallow: /modules/eicaptcha/

[2020-08-24 20:52] JaykubCZ commented on #109
I could try. Would it help to move it to another hook? Or tell me how to solve that, i will try and let youbknow.

[2020-08-27 14:11] HartLarsson commented on #129
Is not a problem of translation, is a problem of language detecting that not works when you switch language from PS

[2020-08-27 14:18] HartLarsson opened #162 "V2.0.4 not detect PS language switching"
**Prestashop Version**
1.7.6.7

**Eicaptcha version**
Eicaptcha version 2.0.4

**Do you use a specific theme**
Theme Warehouse

**Describe the bug**
When, on multilanguage PS instalaltion, you switch language the captcha not detect the language and continue to ask information in the default PS language selected.
Even forcing in the configuration "it | en" not works.

**Screenshots**

English site:

[2020-08-27 14:37] HartLarsson commented on #67
PS 1.7.6.7 - v2.0.4 same false positive

[2020-08-27 14:43] HartLarsson commented on #150
please fix the language detection is not working

[2020-08-27 16:15] HartLarsson commented on #160
PS 1.7.6.7
Theme Warehouse
PHP: 7.2
Eicaptcha version: 2.0.4

All works.

[2020-09-05 08:40] nenes25 opened #163 "Check the module behaviour in muti-shop context"
**Is your feature request related to a problem? Please describe.**
Check the module behaviour in muti-shop context

[2020-09-09 23:39] wlinker commented on #117
Dejaré mi aportación en español, porque es mi lengua de origen.

en mi caso, el problema era la seguridad de PHP, tenia deshabilitado:
allow_url_fopen

y mi proveedor no me daba opción para activarla, aún cuando tenía acceso al php.ini

así que opté por modificar el siguiente archivo:
**myinstall.../modules/eicaptcha/vendor/google/recaptcha/src/ReCaptcha/RequestMethod/Curl.php**

Solo fue cambiar

[2020-10-01 06:41] atelierp opened #164 "eicaptcha newsletter filtering"
Newsletter submission is a real problem because the malware scripts have valid email lists and when they automatically submit their address people receive an email from our store which they manually report as spam, harming our IP rating.

This has been a great plugin for all Prestashop users, so we should encourage the developer to add newsletter spam filter too by making a small donation for his

[2020-10-16 13:22] eramirezprotec commented on #124
[This is the solution](https://github.com/nenes25/eicaptcha/issues/124#issuecomment-610502784).

Thank you very much, @Guiguimps

For those fighting with this problem:

1 - Create the following file: modules\eicaptcha\override\controllers\front\OrderController.php
2 - Copy the [file content](https://github.com/nenes25/eicaptcha/issues/124#issuecomment-610502784) and paste it as the new content of

[2020-10-16 13:26] eramirezprotec commented on #109
Solution [here](https://github.com/nenes25/eicaptcha/issues/124#issuecomment-710041812).

[2020-10-16 13:27] eramirezprotec commented on #108
Solution [here](https://github.com/nenes25/eicaptcha/issues/124#issuecomment-710041812).

[2020-10-16 13:28] eramirezprotec commented on #99
Solution for version 2.0,4 [here](https://github.com/nenes25/eicaptcha/issues/124#issuecomment-710041812).

[2020-10-16 13:32] eramirezprotec commented on #74
Solution [here](https://github.com/nenes25/eicaptcha/issues/124#issuecomment-710041812).

[2020-10-16 13:32] eramirezprotec commented on #48
Solution [here](https://github.com/nenes25/eicaptcha/issues/124#issuecomment-710041812).

[2020-10-16 17:37] HartLarsson commented on #164
to avoid spam enable the double-opt-in so fake accoutn will not enter automatically in your mail list.

[2020-10-16 18:06] atelierp commented on #164
Thank you kindly for the recommendation. The problem is there are scripts
that roll automatically based on lists with real email addresses. All these
people that have nothing to do with our stores receive the emails to
confirm the subscription which they did not submit. So they mark as that
email as spam.

On Fri, Oct 16, 2020, 20:37 HartLarsson <notifications@github.com> wrote:

[2020-10-20 08:36] HartLarsson commented on #164
i notice another problem recentlry if you use for example Sendinblue to collect subscribers thjat accept to subscribe to newsletter too.
If the bot fill all fields during registration and mark the newsletter subscriprion checkbox too even without accepting the Captcha the contact is addedd to sendinblue database.

I think is a major bug of sendinblue module (the latest is affected too) but dont' k

[2020-10-20 08:36] HartLarsson commented on #164
yes this could be a problem and is not nice anyway to spam unknown customers.

[2020-10-20 18:28] atelierp commented on #164
You have made a very useful module. In case you decide to include that
service for newsletter sign-up, a lot of people would be grateful (shop
owners and customers or not) I hope you will have time to develop it, until
then I deactivated the newsletter form.

Thank you for your service!

On Tue, Oct 20, 2020, 11:36 HartLarsson <notifications@github.com> wrote:

[2020-10-31 20:21] #149 closed

[2020-10-31 21:02] nenes25 opened #165 "Rename Hook hookActionContactFormSubmitCaptcha"
The hook hookActionContactFormSubmitCaptcha is confusing as it treats ... customer account.
It has to be rename to a good name, but it'll need module hooks updates.
Plan it in last version
Suggested hook name **hookActionCustomerRegisterSubmitCaptcha**

[2020-10-31 21:19] nenes25 commented on #109
Hi all,

Sorry for the delay but this is finally fixed in new release 2.0.6
Thanks @eramirezprotec for remaining me about that recently.

Regards,

[2020-10-31 21:19] #109 closed

[2020-10-31 21:21] nenes25 commented on #124
Thanks all about your contributions , this is fixed now :)

[2020-10-31 21:21] #124 closed

[2020-10-31 21:21] #48 closed

[2020-10-31 21:23] alfonsolr09 commented on #124
Is there a new versión of the module??

[2020-11-11 19:58] IM-001 opened #166 "no reCaptcha on new account page"
**Prestashop Version**
1.7.6.8

**Eicaptcha version**
2.0.6

**Do you use a specific theme**
jico
https://themeforest.net/item/jico-furniture-home-decor-responsive-prestashop-theme/25405547

**Describe the bug**
Cannot make the reCaptcha appear on the new account page
(https://www.3drenderonline.com/login?create_account=1)

**Additional context**
Hi!  Thank you so much for your plugin and your hel

[2020-11-11 20:32] IM-001 commented on #166
I am really sorry, Prestashop messed everything while I tried changing my theme.  This page will not be available anymore, I am pulling the plug on prestashop.  Sorry as well if anybody came for the same problem.

[2020-11-11 20:32] #166 closed

[2020-11-20 15:19] MrTomek opened #167 "Incorrect response to CAPTCHA challenge. Please try again. v0.4.17"
**Prestashop Version**
Your prestashop version : 1.6.1.2

**Eicaptcha version**
Eicaptcha version: v0.4.17

**Describe the bug**
incorrect response to CAPTCHA challenge. Please try again.

**Screenshots**
![image](https://user-images.githubusercontent.com/13391813/99816413-f05b7800-2b4b-11eb-991e-30ce1f31fe1b.png)
![image](https://user-images.githubusercontent.com/13391813/99816578-2698f780-2b4c-1

[2020-12-04 18:34] Stephane1874 opened #168 "The captcha is no longer displayed on the contact page after updating prestashop 1.7.7.0"
**Prestashop Version**
1.7.7.0

**Eicaptcha version**
2.0.6

Hello,

I updated from version 1.7.6.9 to 1.7.7.0 of prestashop and since the captcha of the contact form page no longer wants to be displayed, however, it works well on the account creation form.

Here is the error:  "Uncaught (in promise) Error: reCAPTCHA placeholder element must be an element or id"

![Capture-captcha](https://user-im

[2020-12-11 13:42] Neldor89 commented on #168
Same issue here :(

[2020-12-11 15:09] rm-info commented on #168
Hi, same issue too. If it helps, there's this error when checking in backend that everything is set up correctly:

Errors

    the module is not registered in hook header

It is the only error and it works fine on the subscription page.
Also I couldn't say if it was working on previous versions of Prestashop, I installed it directly on 1.7.7.0

[2020-12-11 15:21] nenes25 commented on #168
I can confirm that I'm able to reproduce the issue.

But what's weird in my case it's that if you reload several times the contact page,
Some times it works, sometimes not.
Totally randomly
![image](https://user-images.githubusercontent.com/7163132/101921031-cfc39280-3bcc-11eb-9260-fe2df561ec32.png)

[2020-12-11 15:29] rm-info commented on #168
you're right sometimes it appears.
in my case it does when I force reload (Ctrl+F5) and it doesn't in any other cases.
Also the box is displayed on the right without formatting, whereas on the subscription page, it fits perfectly.

[2020-12-11 16:10] rm-info commented on #168
found something. When the captcha appears, there's this in the page source:
<script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/qc5B-qjP0QEimFYUxcpWJy5B/recaptcha__fr.js" crossorigin="anonymous" integrity="sha384-fTuMfAliJVfYh38oCRhSw4QBfBaXu/Y+0T66sUEM7g3gc2pgyM8jPbchfGYFatiP"></script>

when no captcha, the line misses.

[2020-12-11 17:11] Neldor89 commented on #168
I think is might be something with the new hooks in PS 1.7.7.0, because in PS 1.7.6.9 worked perfectly.

[2020-12-14 13:07] nenes25 commented on #168
Hello,
I've fixed the behavior the code is available in the repository.
In my case it fixes the issue in all case.

Could one of you check if i it's the case too ?
I'll build a new release if it's ok
[eicaptcha.zip](https://github.com/nenes25/eicaptcha/files/5688913/eicaptcha.zip)

[2020-12-14 13:35] rm-info commented on #168
Hi,

I tried by merging the code of eicaptcha.php and adding config_fr.xml in the module directory. This time the captcha doesn't display at all.
I tried installing the module again by providing the new zip. There's nothing either.
(Also, I emptied the cache everytime)
Maybe I don't do it correctly?

[2020-12-14 14:16] Stephane1874 commented on #168
Hello,

with this new version i have this error, and the captcha is still not displayed.

Uncaught (in promise) TypeError: container.prop is not a function

![Capture](https://user-images.githubusercontent.com/46202635/102091496-30e2a480-3e1f-11eb-9cf4-d58fae536e0e.PNG)

Thank you very much for the help, have a nice day.

[2020-12-14 15:02] rm-info commented on #168
after reading Stephane1874's message, I tried again and it worked once.
Then I got the exact same error as he has

[2020-12-14 15:59] nenes25 commented on #168
Thanks for the tests , that's weird.

I've well identified the cause of the error.
On the contact form I add with javascript a custom placeholder at the end of the form with the script eicaptcha/17/eicaptcha/views/js/eicaptcha-contact-form.js
Then the captcha is render inside this placeholder.

The initial error was related to the fact that the placeholder is not present when google want to load t

[2020-12-14 16:05] nenes25 commented on #168
Can you try by applying my last commit ?
replace container.prop("id","captcha-box"); by  container.setAttribute("id","captcha-box");

[2020-12-14 18:03] Neldor89 commented on #168
YEP! Now works with that commit. I tried several times and all times worked in contact form too. Nice :D

[2020-12-14 20:10] Stephane1874 commented on #168
Hello,

Thank you very much the captcha came back by adding the `<div id="captcha-box"></div>` directly on the contact form with version 2.0.6 of the module.

![Capturedd](https://user-images.githubusercontent.com/46202635/102128839-ba5d9b00-3e4e-11eb-8722-9f3d99024aff.PNG)

Last question how to properly remove the addition of the block in javascript?

[code]

I tried with the new .zip and the pat

[2020-12-14 21:31] nenes25 commented on #168
Hello @Stephane1874

To remove the add in javascript you can simply copy an empty file eicaptcha/views/js/eicaptcha-contact-form.js in your theme directory so nothing will be done.
I've made some small other improvements

Thanks for your test, i still need to test the module in all prestashop 1.7.x version then i'll create a new 2.0.7
Probably next week.

In my case i have no issue with the last m

[2020-12-15 07:18] rm-info commented on #168
Hello,
I confirm too that this fixes the issue.
I tried to fill the form without the captcha, it refuses to validate and with the captcha it accepts.
So everything seems fine, except the position of the frame in the form:
![image](https://user-images.githubusercontent.com/49327831/102183075-8a91b000-3ead-11eb-80a8-ce3958fe66e0.png)
Whereas strangely, it worked immediately for the subscription form

[2020-12-16 11:15] LeoMonterrat opened #169 "Problème lors de la validation de mon formulaire"
Bonjour,

Je rencontre un problème avec votre module Prestashop

J'arrive à l'intégrer, il est visible et bien placé.

Mais le problème arrive lorsque je clique sur ENVOYER : La page met beaucoup de temps à charger pour qu'au final: la validation a expiré....

Dans les logs du module:
j'ai " invalid-json" qui remonte.

Voici le contenu de mon eicaptcha-contact-form.js:
[code]

Du coté google recap

[2020-12-16 13:01] nenes25 commented on #169
Bonjour,

Est-ce possible d'avoir une url ?
Je pense que le problème doit etre lié au thème car le module fonctionne globalement bien sur les versions 1.7.6

Cordialement,

[2020-12-16 13:09] LeoMonterrat commented on #169
Voici l'url : https://boutique.legoutdenice.fr/fr/nous-contacter

J'utilise le thème **blck Version 3.0.2**

[2020-12-17 12:28] nenes25 commented on #169
Bonjour,

J'ai effectivement testé votre boutique et j'ai bien le problème également.
Je pense que ce problème est lié à votre hébergement.
Est-ce que vous pouvez vous assurer que l'option https://www.php.net/manual/fr/filesystem.configuration.php#ini.allow-url-fopen est bien définie ?
Si ce n'est pas le cas la réponse ne peut pas être postée vers google pour soumettre le captcha.
Et c'est ce qui

[2020-12-21 23:23] demmonin opened #170 "fatal error"
**Prestashop Version**
1.7.1.6

**Eicaptcha version**
2.0.6

**Do you use a specific theme**
default theme

**Describe the bug**
1/1) FatalErrorException
Compile Error: require_once(): Failed opening required '/home/mocanail/public_html/modules/ps_featuredproducts/vendor/composer/autoload_real.php9y9�q���' (include_path='/home/mocanail/public_html/vendor/pear/pear_exception:/home/mocanail/public_

[2020-12-22 13:13] nenes25 commented on #170
Hi,
Please read the installation instructions ;)
https://github.com/nenes25/eicaptcha#installation

Regards

[2020-12-22 13:13] #170 closed, assigned to nenes25

[2020-12-22 13:30] nenes25 commented on #168
Issue fixed with release 2.0.7

[2020-12-22 13:30] #168 closed

[2020-12-26 10:01] Neldor89 opened #171 "Eicaptcha now doesn't work - Need composer version"
**Prestashop Version**
1.7.7.0

**Eicaptcha version**
2.0.7

**Do you use a specific theme**
Angar Theme

**Describe the bug**
Now i install the new release 2.0.7 of the EiCaptcha, but it doesn't work, it takes me to a blank page. And in the module config page, appears this message (see screenshot). What i have to do?

**Screenshots**
https://i.gyazo.com/b1046912ba4a161226a2bb8183fd39d3.png

[2020-12-26 16:21] Stephane1874 commented on #171
Hi @Neldor89,

I also tried this version 2.0.7, the "vendor" folder is missing, try adding the "vendor" folder from version 2.0.6.

https://github.com/nenes25/eicaptcha/releases/tag/2.0.6

For me it works locally, I haven't tried it on my store yet.

![Capture](https://user-images.githubusercontent.com/46202635/103155254-3389b600-479e-11eb-920d-4e74789ac19f.PNG)

[2020-12-26 19:54] Neldor89 commented on #171
Hi! Hope @nenes25 can confirm us if thats a bug or if it will work too with that change.

[2020-12-28 09:12] nenes25 commented on #171
Hello,
Sorry you are right my archive miss the vendor directory ...
I've uploaded a new archive file which should correct the issue @Stephane1874  @Neldor89 can you confirm that it's ok now ?

[2020-12-28 09:23] Neldor89 commented on #171
Yes! Now work completely fine (i tried it with and without checking the captcha and works fine). Merci beaucoup, @nenes25 !!

[2020-12-28 10:03] nenes25 commented on #171
Great thanks for the feedback :)
I close the issue

[2020-12-28 10:03] #171 closed, assigned to nenes25

[2020-12-29 09:59] Stephane1874 commented on #171
Hello @nenes25,

The version 2.0.7 now works perfectly, the only problem is that it adds twice the block `<div id="captcha-box"></div>`, nothing too serious.

![Capture](https://user-images.githubusercontent.com/46202635/103274998-5ba62e80-49c3-11eb-9d14-120154deb6f2.PNG)

Personally I prefer the version 2.0.6 and add manually the block `<div id="captcha-box"></div>` directly on the contact form a

[2020-12-29 10:46] nenes25 commented on #171
Hello @Stephane1874
Thanks for your feedback :)
I'll try to fix this in next release.

Best regards,

[2021-01-04 11:26] aerodiscount opened #172 "EICAPTCHA (V2 or V3 is visible but has a message : ERREUR pour le propriétaire du site : Clé de site non valide even after regeneration of Keys"
**Prestashop Version**
Your prestashop version :PS1.61.7

**Eicaptcha version**
Eicaptcha version : (AM) eicaptcha v0.4.3 - par eicaptcha

**Do you use a specific theme**
Are you using a specific theme, if yes please tell which : warehouse version 3.8.2 Conçu par IQIT-COMMERCE.COM

**Describe the bug**
A clear and concise description of what the bug is.
EICAPTCHA (V2 or V3 is visible but has a mes

[2021-01-05 19:51] nenes25 commented on #172
Bonjour,

En dehors d'une erreur de configuration de la clé recaptcha je ne vois malheureusement pas d'autres possibilité à cette erreur.
Le module supporte uniquement l'api V2 "Case à cocher"
J'ai encore configuré récemment des sites sans problèmes particuliers.

Cordialement,
Hervé

[2021-01-06 09:27] acabaud1 commented on #169
Bonjour,

Je viens de rencontrer ce problème et après quelques recherches il provenait bien de `allow_url_fopen` qui n'était pas activé sur l'hébergement.

Il est possible de contourner le problème en utilisant cURL à la place, pour cela il faut modifier le fichier `eicaptcha.php` du module :

`$captcha = new \ReCaptcha\ReCaptcha(Configuration::get('CAPTCHA_PRIVATE_KEY'));`
par
`$captcha = new \Re

[2021-01-06 10:58] nenes25 commented on #169
Bonjour @h3r0xfr

Merci pour ce retour :)
Je vais voir si il est possible de conditionner l'utilisation de curl uniquement si allow_url_fopen n'est pas actif sur l'hébergement.
Cela fixera ce soucis qui semble assez rare ( premier retour sur ce points depuis pas mal d'années )

Cordialement,

[2021-01-25 09:10] dscyfer opened #173 "Formulaire invalide"
**Prestashop Version**
1.6.1.4

**Eicaptcha version**
0.4.17

**Do you use a specific theme**
theme1164

**Describe the bug**
No matter what we input on the fields, this error is thrown after captcha is validated and form is submitted. The error is also not in English language like it supposed to.

**Screenshots**
![image](https://user-images.githubusercontent.com/2071539/105684478-f8f77280-5f2f-1

[2021-01-25 12:42] nenes25 commented on #173
Hi,

Could you please provide an url ?
Do you use a custom module to deals with forms ?
Because the error seems to be related with the form validation rather than with the captcha one.

Regards,

[2021-01-26 05:01] dscyfer commented on #173
**URL**
[https://expresspromo.com.au/contact-us](https://expresspromo.com.au/contact-us)

Hello,
There were none that I am aware of. If there is a custom module that deals with the forms, I am unable to trace it.

[2021-01-26 16:15] nenes25 commented on #173
Hello,

Thanks for the url i manage to reproduce the issue on your website.
Unfortunately this error message is not from my module as you can see if i search for "formulaire"
![image](https://user-images.githubusercontent.com/7163132/105871476-a3879800-5ff9-11eb-9c94-2eee5754279f.png)

There is nothing related with the error you provide.
Could you search for the related text in your website ?

`gr

[2021-01-27 04:27] dscyfer commented on #173
Hello,

this is the result of the grep search
![image](https://user-images.githubusercontent.com/2071539/105942896-19900b80-609b-11eb-97b7-913404839987.png)

Edit: has found the offending code and removed the overriding module. thanks! 😄

[2021-01-27 07:56] nenes25 commented on #173
Hello,

Great as we can see in your screenshot the issue is related with an override on the contactController which is not from my module :smile:
As you have corrected on your side i close the issue.

Regards,

[2021-01-27 07:56] #173 closed, assigned to nenes25

[2021-01-27 07:58] #172 closed, assigned to nenes25

[2021-02-03 15:32] smkerz commented on #164
Yes, I am exactly in the same situation.

[2021-02-10 13:29] usuenapal opened #174 "Captcha not required on forms"
**Prestashop Version**
1.7.7.0

**Eicaptcha version**
2.0.7

**Do you use a specific theme**
Movic

**Describe the bug**
The captcha is added to the form but is not being required when sending the form. I can send the forms without checking the captchas.

**Screenshots**

**Additional context**
I use the module in contact and register forms and also, I'm adding the captcha manually to a newsletter

[2021-02-14 08:08] nenes25 commented on #174
Hello,

Could you please tell me if the issue is only on the captcha you add on the newsletter form ?
Or also in customer create form and contact form ?

I've done a fix for version 1.7.7 a couple of weeks ago in the line :
https://github.com/nenes25/eicaptcha/blob/17/eicaptcha.php#L368
But depending the themes it could fail.

Regards,

[2021-02-14 08:10] #150 closed

[2021-02-14 08:11] #119 closed

[2021-02-14 08:11] #106 closed

[2021-02-14 08:12] #112 closed

[2021-02-14 08:32] nenes25 commented on #164
With version 2.6.0 of module ps_emailsubscription
 https://github.com/PrestaShop/ps_emailsubscription/blob/master/ps_emailsubscription.php
 New hooks have been added and it should be easier to plug the captcha with the hook : actionNewsletterRegistrationBefore
 I'll study this.

[2021-02-14 08:42] usuenapal commented on #174
Hi!!

Thanks for the answer. The issue happens in all the forms, the one added manually and the ones added by the module. I tried to delete the manually added form in order to check if that is generating the issue, but it remains.

I will try the update and let you know.

Thank you very much in advance!!

[2021-02-15 11:06] atelierp commented on #164
That would be great! Please let us know if it does work and we just need to update 2.6.0 of module ps_emailsubscription and hook EIcaptcha to it. Thank you!

[2021-02-15 15:07] iSung951 commented on #45
Hi, I had the same prob...
The captcha in front-office isn't working and say "ERREUR pour le propriétaire du site : Type de clé non valide"
Through the back-office it say "Errors: the module is not registered in hook header"
Any help?..

[2021-02-15 23:12] nenes25 commented on #164
Hi,

The POC is functional :)
So i will implement support of captcha subscription in next version.
Unfortunately some manual changes will be required depending of themes, as the hook to display the captcha in front end is not present in default classic theme, but only in module files.
I'll make a blog post to explain how to do and i hope to release it in march.

Regards,

[2021-02-18 11:03] nenes25 opened #175 "Code refacto"
The code of the module is long and the file has  more than 650 lines.
In order to improve it, some portions of code should be put in external classes ( Installation / Debug / Forms )
Study what could be done in order to improve it.
New class should use a namespace and be loaded by composer.

[2021-02-23 09:40] davidlambda opened #176 "The captcha is not visible in the registration form"
Hello,

I have installed the module Eicaptcha in my prestashop, it works correctly in the contact form of my Contact page (Contact Form module) but it does not show in my account registration form. What can be the motive?

[2021-03-08 14:23] Lauriane75 opened #178 "."

[2021-03-08 17:27] nenes25 commented on #178
Bonjour,

Je ne vois aucune trace du module sur l'url que vous m'avez fourni.
Du coup difficile d'identifier ce qui ne va pas.
Votre thème renvoie également une erreur js c'est peut être lié.

Cordialement,
Hervé

[2021-03-08 17:27] #174 closed, assigned to nenes25

[2021-03-08 17:29] Lauriane75 commented on #178
Pardon je l’avais désactivé pour faire des tests d’inscription.
Le voilà à nouveau activé.

On Mon 8 Mar 2021 at 18:27, Hervé H. <notifications@github.com> wrote:

[2021-03-08 21:08] nenes25 commented on #178
C'est bizarre car les données sont bien envoyées.
![image](https://user-images.githubusercontent.com/7163132/110382126-c1193a00-805a-11eb-899d-4b1a57d13de1.png)
Est-ce que vous avait fait une mise à jour du module ou est-ce que vous l'avez installé sur un nouveau site ?
Est-ce que la surcharge du module contactform est bien prise en compte ?

[2021-03-09 08:11] davidlambda commented on #176
I have tried to install version 2.0.6 to check if it works, but no, since version 2.0.7 still does not work the captcha in the registration form. I need an answer please, it is a long time without feedback.

[2021-03-09 09:53] nenes25 commented on #176
Hello,

In order to let me know about your issue please fill the following template :  ( It should have been asked automatically but the feature was missing on last 2 weeks )

With your current details i'm unfortunately unable to help.

Furthermore i want to precise that I really dislike the comments like your last...
Because this module is free and i help people on my free time without any benefi

[2021-03-09 10:00] Lauriane75 commented on #178
Bonjour et merci pour votre réponse.

Est-ce que vous avez fait une mise à jour du module ou est-ce que vous
l'avez installé sur un nouveau site ?
Non je n'ai pas fait de mise à jour, j'ai installé ce module sur un nouveau
site.

Est-ce que la surcharge du module contactform est bien prise en compte ?

Quel fichier dois-je overrider pour répondre à cette question ?

(Je suis débutante en dev sur p

[2021-03-09 10:33] davidlambda commented on #176
I'm sorry to have offended you, it was not my goal, I just want to solve this problem with my website which makes my website not functional.

Ok, I write the details below:

**Prestashop Version**
1.7.2.4

**Eicaptcha version**
2.0.7

**Do you use a specific theme**
Jms_deermarket (version 1)

**Describe the bug**
The Google captcha is displayed correctly in the contact form but is not displayed i

[2021-03-09 11:54] nenes25 commented on #178
Bonjour,

Parfait si tout fonctionne alors :)
Je ferme donc cette demande.

Bonne journée,
Cordialement,
Hervé

[2021-03-09 11:54] #178 closed, assigned to nenes25

[2021-03-09 11:56] nenes25 commented on #176
Hello,

Thanks for the feedback, as i don't know this theme, could you please give me an url to check ?

Best Regards,

[2021-03-09 11:58] davidlambda commented on #176
- Contact form: https://www.obdcenter.com/es/contactenos
- Register form: https://www.obdcenter.com/es/iniciar-sesion?create_account=1

[2021-03-09 12:16] nenes25 commented on #176
Is the hook displayCustomerAccountForm available and displayed in your theme ?
And is the module well registered on it ?
You can check in the module configuration in back office.
And in the "Position" link in the appearance section

![image](https://user-images.githubusercontent.com/7163132/110469120-886c7580-80d9-11eb-8f9f-76062e872182.png)

[2021-03-09 12:39] davidlambda commented on #176
Yes
![image](https://user-images.githubusercontent.com/45964547/110470590-54924f80-80db-11eb-88d7-fdbb9ace5342.png)

Yes, it is well registered

![image](https://user-images.githubusercontent.com/45964547/110471657-adaeb300-80dc-11eb-83fb-c219319356b4.png)

![image](https://user-images.githubusercontent.com/45964547/110471183-1e090480-80dc-11eb-83a7-8904227abfce.png)

Even though I have noticed th

[2021-03-09 12:58] nenes25 commented on #176
Thanks everything seems good in the configuration.
But the content of the hook is not displayed for the module, and this is why it is not working.
If you search for "g-recaptcha" in the page it founds nothing even if the text is well in the module template.
So i guess that the issue is related with the display of the hook **displayCustomerAccountForm**
Coud you please check in your theme in themes

[2021-03-09 14:21] davidlambda commented on #176
I have added this line of code `{$ hook_create_account_form nofilter}` in `public_html / themes / jms_deermarket / templates / customer / _partials / customer-form.tpl` and it works for me perfectly! Captcha is already displayed and it works fine.

Thank you very much for your help!

All the best.

[2021-03-09 15:35] nenes25 commented on #176
Thanks for the feedback, so nothing related with my module.
If you can share this with your theme provider it will certainly avoid other issues related with this hook ;)

Best regards,

[2021-03-09 15:35] #176 closed, assigned to nenes25

[2021-03-14 12:57] nenes25 opened #179 "Better display debug mode in back office"
**Is your feature request related to a problem? Please describe.**
When we click on the button to display the debug, the page is reloaded but we don't see the debug information before displaying the advanced tab .

**Describe the solution you'd like**
When displaying debug the good tab should be visible directly

[2021-03-14 13:25] nenes25 opened #180 "Display link to github issues in debug module"
**Is your feature request related to a problem? Please describe.**
In order to easily receive issue about the module, we can directly add a link to github page issue in debug content

[2021-03-15 07:57] #180 closed, assigned to nenes25

[2021-03-15 07:57] #179 closed, assigned to nobody

[2021-03-15 08:00] nenes25 commented on #164
The issue is now fixed in release 2.1.0
You can also read blog post about : https://www.h-hennes.fr/blog/2021/03/15/prestashop-ajouter-un-captcha-sur-linscription-a-la-newsletter/

[2021-03-15 19:01] atelierp commented on #164
Thank you Herve!

If you would like to give me your shipping address, I would like to send
you something handmade from us, as a thank you gift!

Best regards,
*Customer service | AtelierPall Handcrafted*
AtelierPall.com <https://www.atelierpall.com/>

This email and any files transmitted with it are confidential and intended
solely for the use of the individual or entity to whom they are addressed

[2021-03-15 19:44] atelierp commented on #164
PS. Also, with the upgrade, the captcha box disappears from the contact
form page.
Is there  a problem with the old hook?

Best regards,
*Customer service | AtelierPall Handcrafted*
AtelierPall.com <https://www.atelierpall.com/>

This email and any files transmitted with it are confidential and intended
solely for the use of the individual or entity to whom they are addressed.
If you have received

[2021-03-15 20:03] atelierp commented on #164
I have Prestashop 1.7.6.8
Contact form 4.3.0
Ei Captcha 2.1.0

The debug page shows all hooks and verifications green, but the module
2.1.0 no longer displays captcha on the contact form (and the former
version of your module showed captcha on the contact form).
I have disabled contact form captcha for now, because it askes to validate
the captcha but the box is gone.
Let me know if this is a bug

[2021-03-15 21:42] nenes25 commented on #164
Hello @atelierp ,

Thanks for your feedback about this issue
I've not noticed this but you are totally right.
In the first display i have not the issue, but only after submitting a wrong captcha.
I think i got the issue and everything should works fine now.
I've updated the release file ( and not release a new one as i guess that a few people have already download it today :) )
Could you confirm t

[2021-03-16 06:37] atelierp commented on #164
Thank you, All good now without any changes to templates, so you nailed the
bug.
I agree you shouldn't need to release a new version just for this bug
(although a major one)

I'll send a handmade wallet to the address you provided, as a gift for your
efforts!

Best regards,
*Customer service | AtelierPall Handcrafted*
AtelierPall.com <https://www.atelierpall.com/>

This email and any files transmi

[2021-03-16 08:36] nenes25 commented on #164
Great thanks for the feedback so i close this issue :smile:

[2021-03-16 08:36] #164 closed

[2021-03-16 08:38] #155 closed

[2021-03-16 08:38] #146 closed

[2021-03-16 08:39] nenes25 commented on #67
Fixed since 2.0.7

[2021-03-16 08:39] #67 closed

[2021-03-16 13:31] MarcoConv opened #181 "Please validate the captcha field before submitting your request"
Hi,

We are getting always the error "Please validate the captcha field before submitting your request". But the recaptcha checkbox is checked and completed.

We are using Prestashop 1.7.7.1 and the newest module update.

[2021-03-16 13:44] #181 closed, assigned to nenes25

[2021-03-16 13:44] MarcoConv commented on #181
Done, was an error with the Keys

[2021-04-06 18:18] Link-1110 opened #182 "Errors"
**Prestashop Version**
1.7.7.3

**Eicaptcha version**
2.1.0

**Do you use a specific theme**
Anghar theme

**Describe the bug**

I have errors and I don't know how to deal with them

**Screenshots**

and I have this as an error
![Capture2](https://user-images.githubusercontent.com/77692194/113764748-ac909600-971b-11eb-95ee-cc530dd08f82.JPG)

[2021-04-06 18:30] Rantanplan1110 commented on #182
Je précise qu'avant la mise a jour de PrestaShop le module fonctionné très bien.

[2021-04-06 18:35] Rantanplan1110 commented on #182
The module works perfectly in the contact form
![Capture1](https://user-images.githubusercontent.com/77692194/113761261-8c5ed800-9717-11eb-9ef8-e273b10e66c0.JPG)

[2021-04-06 19:05] Rantanplan1110 commented on #182
and I have this as an error
![Capture2](https://user-images.githubusercontent.com/77692194/113764748-ac909600-971b-11eb-95ee-cc530dd08f82.JPG)

[2021-04-07 14:00] Gardella-Web opened #183 "Erreurs et version"
**Prestashop Version**
Prestashop version 1.7.7.1

**Eicaptcha version**
Eicaptcha version 2.1.0

**Do you use a specific theme**
Theme parent : ZOneTheme
Theme enfant : destockphenix

**Describe the bug**
Le cadre apparait et est fonctionnel mais le formulaire part même si je ne valide pas le Captcha.

Voici les erreurs données.
- the module is not registered in hook actionContactFormSubmitCaptch

[2021-04-07 20:22] nenes25 commented on #183
Bonjour,

Le message de debug est plutôt clair.
Le module n'est pas bien installé car il manque pleins de chose nécessaires à son bon fonctionnement.
Essayez de le réinstaller et de vider le cache pour voir si cela corrige.
En dehors de l'information sur le formulaire de newsletter vous ne devriez avoir aucune erreur pour que le module fonctionne.

[2021-04-07 20:24] nenes25 commented on #182
Hello,

Which errors  and on which form ? ( contact / registration )
Can you try to manually hook the module to hook "displayHeader" in back office ?

Regards,

[2021-04-08 18:07] Link-1110 commented on #182
Hello thank you for your answer, I do not understand where you want me to hang the module in the Back office.

I followed your tutorial on https://www.h-hennes.fr/blog/2021/03/15/prestashop-ajout-un-captcha-sur-linscription-a-la-newsletter/
This deleted an error, but your module remains invisible when registering for the newsletter.

![Capture](https://user-images.githubusercontent.com/77692194/11

[2021-04-08 19:45] nenes25 commented on #182
Hi,
Sorry i didn't mean to hook the module in a back office hook.
But to add the module to the hook displayHeader through the back office :)
In fact i manage to reproduce the issue on a new instance, and the debug message seems to be a false positive in my case.
Could you provide an url ?

Regards,

[2021-04-09 13:37] Link-1110 commented on #182
I found where the problem came from.  another cookie management module that
erased your module.  thank-you for your prompt response.

cordially

Le jeu. 8 avr. 2021 à 21:45, Hervé H. ***@***.***> a écrit :

[2021-04-09 13:38] Triloworld opened #184 "Don't require recaptcha for logged in clients"
User create account and resolve captcha. He buy product and is now shop client. Then he need to ask question (about product etc). He is annoyed with another layer of protection to click in boxes (because reCaptcha is not ideal solution)

**Describe the solution you'd like**
After first buy we might to disable protections for this particularly person.

**Describe alternatives you've considered**
Ju

[2021-04-09 13:53] Triloworld opened #185 "Logged in user can have switch to force resolve captcha task"
We have shop before installing this module. We need to check all peoples that they aren't boot and have some mark in account about state.

**Describe the solution you'd like**
We can use that state to be ensure about state of account.

**Describe alternatives you've considered**
We can mail but this can be used cheap and by person who is logged in and in real time.

**Additional context**
Old acco

[2021-04-09 14:15] nenes25 commented on #182
Great thanks for the feedback, so i close the issue.

[2021-04-09 14:15] #182 closed, assigned to nenes25

[2021-04-12 13:14] nenes25 commented on #184
Hello,

I guess that this needs will be fixed with the implementation of recaptcha V3
Which is planned for later this year i hope.

Regards,

[2021-04-12 13:18] nenes25 commented on #185
Hello,

This task is in addition of #184 and is related to your specifics needs.
So this will not be done, as this module is a generic one.
Feel free to fork it to implement this logic ;)

Regards,

[2021-04-12 13:18] #185 closed, assigned to nobody

[2021-04-15 19:04] nenes25 opened #186 "Wrong ps_emailsubscription version comparison"
**Prestashop Version**
1.7.7.2

**Eicaptcha version**
2.1.0

**Describe the bug**
With version 2.6.1 of this module it doesn't works.
The version_compare is baldy evaluated

[2021-04-15 19:05] nenes25 commented on #186
This issue will be fixed in version 2.1.1

[2021-04-16 05:25] #186 closed, assigned to nenes25

[2021-04-17 17:23] koltatiq opened #187 "Errors"
**Prestashop Version**
1.7.7.3
**Eicaptcha version**
 V 2.1.0

the module is not registered in hook header
**how to register it?**

Overrides are disabled on your website
![2021-04-17](https://user-images.githubusercontent.com/82684133/115121315-51c82b80-9fb2-11eb-9210-7e153aba2741.png)

**what replacements are you talking about?**

Module ps_emailsubscription version do not allow to use captcha o

[2021-04-17 17:24] koltatiq commented on #187
I will be grateful for any help.
greetings

[2021-04-19 12:29] nenes25 commented on #187
Hello,

In order to fix the wrong detection of module ps_emailsubscription please update the module to version 2.1.1 ( which fix this issue )
For the override issue it is related with your website configuration.
Overrides are required as the module need to rewrite some function from modules and controllers
You need to let the configuration to "no " on the page "Advanced Parameters / Performances"

[2021-04-27 18:44] 8ternity opened #188 "Compatible with reCaptcha V3 (V2 is not available anymore on Google reCaptcha Entreprise)"
I try to install with version 2.0 but Google has discontinued the version 2.0.

We can only setup new version 3.0.
[You can refer here](https://cloud.google.com/recaptcha-enterprise/docs/migrate-recaptcha?hl=en#before-you-begin)

Is it possible to have a upgraded version to reCaptcha 3 ?

Thank you.

[2021-04-27 20:00] nenes25 commented on #188
Hi,

With an existing account i'm still abble to create a new key with the v2 version.
![image](https://user-images.githubusercontent.com/7163132/116305074-91a5c480-a7a3-11eb-8243-6ba30feff3d9.png)
Can you confirm that it's not possible anymore for new account ?
Enterprise version seems to be usefull only if you display more than 1M/captcha month

V3 is planed but not before some weeks.
Thanks for

[2021-05-02 16:24] bramvdp commented on #188
I can confirm I couldnt find a way to generate a v2 key as well.
Then I googled for it specifically, and I could create one via this link https://www.google.com/recaptcha/admin/create

[2021-05-03 23:30] num47 commented on #187
I was facing kinda the same problem.

My eiCaptcha Module Version- 2.1.1. And my newsletter module version is - v. 2.0.2 and the Newsletter subscription module v. 2.6.1. All are updated, i think. Prestashop version 1.7.7.4.

When i have turned on the option for recaptcha to newsletter subscription then it does not show the reCaptcha in the homepage. But, it doesn’t let you subscribe either saying

[2021-05-04 07:10] nenes25 commented on #187
Hello @num47 ,
In your case the error is self-explanatory
You need to update the template of your theme with the required hook.
You can read more about it in this article ( in french ) => https://www.h-hennes.fr/blog/2021/03/15/prestashop-ajouter-un-captcha-sur-linscription-a-la-newsletter/

[2021-05-04 12:03] num47 commented on #187
Hello @nenes25 ,
Thank you for the link.
I have solved the problem and it seems working fine. But, in the back office in the module it kinda still showing this error:
![Untitled](https://user-images.githubusercontent.com/33420890/117000461-ee086700-ad02-11eb-90e1-e482eae075eb.png)

[2021-05-04 13:22] nenes25 commented on #187
Hello,
This is error is  a wrong positive but everything should works fine.

[2021-05-05 20:12] #82 closed

[2021-05-05 20:13] #103 closed

[2021-05-05 20:13] #105 closed

[2021-05-05 20:13] #108 closed

[2021-05-05 20:13] #110 closed

[2021-05-05 20:13] #114 closed

[2021-05-05 20:14] #117 closed

[2021-05-05 20:14] #158 closed

[2021-05-05 20:15] #167 closed

[2021-05-09 17:28] RidaLeFou opened #191 "La reCaptcha est en dessous du bouton "Envoyer""
**Prestashop Version**
![image](https://user-images.githubusercontent.com/48444886/117581339-8c7a3b00-b0fc-11eb-89b8-fa071f4e370b.png)

**Eicaptcha version**
2.1.1

**Do you use a specific theme**
Lacausa

**Describe the bug**
Est ce que c'est possible d'inverser l'emplacement du bouton Envoyer dans le formulaire de contact et de la reCaptcha?

**Screenshots**
![image](https://user-images.githubus

[2021-05-10 07:06] nenes25 commented on #191
Bonjour,

Le problème est sans doute lié aux positionnement de votre thème.
Pour corriger cela, vous pouvez ajouter manuellement le tag du captcha dans le template du formulaire de contact de votre thème à l'endroit ou vous souhaitez l'afficher  ( themes/_themeName_/modules/contactform/views/templates/widget/contactform.tpl
`<div id="captcha-box"></div>`
et vous pouvez commenter le code dans le fi

[2021-05-12 07:44] FilipMielczarek commented on #45
I know it's been a while, but did you manage to fix this problem? I am facing exactly the same sittuation.

[2021-05-15 22:23] #183 closed, assigned to nenes25

[2021-05-19 20:03] koltatiq opened #192 "The send to contact button does not work"
**Prestashop Version**
1.7.7.4
**Eicaptcha version**
v2.1.1

**Do you use a specific theme**
Classic Wersja 1.0.0

**Describe the bug**
After enabling recaptcha on the contact page - the button SEND A MESSAGE stopped working (the mouse does not notice the link).
You can only send a message by changing tabs and characters.
It also does not work in the inkognito window, for browsers in Chrome with g

[2021-05-19 20:22] koltatiq commented on #192
Check for yourself from the chrome google and edge settings: https://koltat.com/kontakt

[2021-05-20 06:41] nenes25 commented on #192
Hello,
Weird issue but seems related with your theme, i see no issue on classic theme.
Could you try to add the following line in views/css/eicaptcha.css
#captcha-box { overflow:hidden }

Regards,

[2021-05-20 12:36] koltatiq commented on #192
Thank you for your interest..
I pasted where I could.
But it doesn't work either.

Strange that firefox works normally.
`.contact-form form .form-fields #captcha-box > div{float: right;}
.contact-form form .form-footer{clear: both;padding-top: 1rem;}
.contact-form form .form-footer{#captcha-box { overflow:hidden };}
@media screen and (max-width: 767px){
    #contact #left-column,
	#captcha-box { o

[2021-05-20 12:37] koltatiq commented on #192
[](url)
![2021-05-20 (2)](https://user-images.githubusercontent.com/82684133/118979616-edb1d200-b978-11eb-94cb-73736521419e.png)

[2021-05-20 19:10] nenes25 commented on #192
Hi,

You have a wrong  syntax on line 3 you should have
`.contact-form  #captcha-box {overflow:hidden}`
if you want to target the element
![image](https://user-images.githubusercontent.com/7163132/119035339-c0cce180-b9af-11eb-841f-f5219952949b.png)

[2021-05-21 08:48] koltatiq commented on #192
Improved and Works!
Hurray 👍
Thank you very much.
Best Regards

[2021-05-21 09:21] nenes25 commented on #192
Great !  I close this issue :smile:

[2021-05-21 09:21] #192 closed, assigned to nenes25

[2021-05-21 09:22] #187 closed, assigned to nenes25

[2021-05-21 09:24] #160 closed

[2021-05-21 09:25] #145 closed

[2021-05-21 12:34] alfonsolr09 commented on #145
Why you close it?? @nenes25

[2021-05-21 13:40] nenes25 commented on #145
This issue is inactive since more than a year and there is a new release since.
If this issue is still present with it , feel free to reopen.

Regards

[2021-05-21 13:42] alfonsolr09 commented on #145
the problem is idle because no one fixed it. I will try the new version and check if it has been fixed or not

[2021-05-28 14:38] Osmoze950 opened #193 "Problème à l'envoi du formulaire de contact"
Bonjour,

J'essaye de résoudre le problème après avoir lu tout ce que je pouvais mais en vain :
Je vois bien le recaptac mais lorsque je poste le formulaire de contact, une page blanche apparait.
Le debug mode ne fonctionne pas (aucun fichier de log dans le répertoire).

La seule indication que j'ai se trouve dans la console firefox (pas chrome) : une erreur 500 sur une requête POST.
Pour informat

[2021-05-29 17:42] Osmoze950 commented on #193
Bon et bien j'ai résolu le problème sans savoir trop comment. Je crois qu'il s'agissait d'un probleme avec composer. J'ai réinstallé desinstallé plusieurs fois en triffoulliant des paramètre et cela fonctionne désormais...

[2021-05-29 17:42] #193 closed, assigned to nobody

[2021-05-29 18:36] RidaLeFou commented on #191
ok merci :)

[2021-05-29 18:36] #191 closed, assigned to nenes25

[2021-07-25 15:32] MOD-PROD opened #194 "Impossible de trouver le module "Formulaire de contact""
**Prestashop Version**
1.7.32

**Eicaptcha version**
2.1.1

**Do you use a specific theme**
Non

**Describe the bug**
Apres quelques heures de recherches web impossible de trouver le module "Formulaire de contact" qui a disparu de mon prestashop , il est plus dispo a l instalation non plus !
Que faire ? Auriez vous une solution ?
Merci d' avance

**Screenshots**
![Screenshot 2021-07-25 at 16-46-15

[2021-08-09 07:52] nenes25 commented on #194
Bonjour,

Vous pouvez télécharger le module de contact de prestashop directement depuis github :
https://github.com/PrestaShop/contactform/releases

Cordialement,
Hervé

[2021-08-10 18:59] nenes25 commented on #175
The new module is released

[2021-08-10 18:59] #175 closed, assigned to nenes25

[2021-08-11 12:31] nenes25 opened #195 "Improve debug information"
**Is your feature request related to a problem? Please describe.**
Render this page using smarty instead of pure php
Manage translation
Add multi-shop debug

[2021-08-13 13:00] nenes25 commented on #163
I've tested various cases of multi-shop implementations without issues :)

[2021-08-13 13:00] #163 closed

[2021-08-16 10:40] nenes25 opened #196 "Improve Code quality : introduce phpcs fixer and phpstan"
**Is your feature request related to a problem? Please describe.**
introduce phpcs fixer and phpstan to increase code quality

[2021-09-04 12:10] nenes25 opened #197 "Update Translations others than FR"
**Is your feature request related to a problem? Please describe.**
The new version 2.3.0 add some translations, existing translations other than french will miss them.
Here are the currently translated languages :
- german
- Italian
- Polish
- Romanian

Any contribution with translation of an other language is welcome too :)

**How to do it**
If the module is installed on your shop, go to "Interna

[2021-09-06 19:00] #94 closed

[2021-09-06 19:00] #113 closed

[2021-09-06 19:00] #188 closed, assigned to nenes25

[2021-09-06 19:00] #195 closed, assigned to nenes25

[2021-09-06 19:00] #196 closed, assigned to nenes25

[2021-09-06 19:02] nenes25 commented on #129
duplicate of #162

[2021-09-06 19:02] #129 closed

[2021-09-15 09:15] mhajder opened #199 "Support for other captcha providers like hCaptcha"
**Is your feature request related to a problem? Please describe.**
Recently, reCaptcha has become paid and only the first million calls are free.

**Describe the solution you'd like**
We should also consider other captcha providers.
[hCaptcha](https://www.hcaptcha.com/) started to be used by more and more companies such as Cloudflare.

**Describe alternatives you've considered**
At least adding si

[2021-09-15 12:12] nenes25 commented on #199
Hello @mhajder

Thanks for the feedback.
For the moment it's out of the scope of this module.
But why not in upcoming realeases

Regards,

[2021-09-16 03:12] #194 closed, assigned to nenes25

[2021-09-21 12:18] Idas86 opened #200 "With v. 0.4.17 incorrect response and js error."
With the version 0.4.17 I can read this message in account creation form:
 _

_

I also see a js error:
_

_
This is the link: [http://www.sacco-matto.com/login](http://www.sacco-matto.com/login)

[2021-10-02 14:32] gringo1er commented on #141
Bonjour!
Même constat sur la toute version 2.3.1, en captcha v2 ou v3. Sinon top pour l'inscription de nouveaux clients!

[2021-10-02 14:35] gringo1er opened #202 "V2.3.1: les modes sombre et clair sont inversés"
**Prestashop Version**
1.7.7.8

**Eicaptcha version**
2.3.1

*Bonjour. Rien de grave, juste les modes sombre et clair inversés: pour avoir l'un il faut juste cocher l'autre....

Merci pour cet excellent module!

[2021-10-07 09:36] jonathanromain opened #203 "v2.3.1 invalid site key (While it is the correct one)"
Prestashop 1.7.6.8
Module v2.3.1
Thème : classic children

The site tells me that the site key is incorrect even though it is the correct one that I just copied from google's reCAPTCHA site.

I tested to reverse them, in v2 or V3, same result ..
![Capture d’écran 2021-10-07 à 11 32 52](https://user-images.githubusercontent.com/34910831/136359432-5be0bb00-5bac-46a1-aaef-8af26a8b99d0.png)
![Captur

[2021-10-11 18:24] nenes25 commented on #203
Hi jonathan,

I'm not able to reproduce your issue.
Are you sure that your key is the good one and that your site domain is allowed on it ?

Regards,

[2021-10-11 18:30] nenes25 commented on #202
Bonjour @gringo1er,

Merci pour votre retour.
Je confirme effectivement le soucis

[2021-10-11 18:34] nenes25 commented on #200
Hello,

I cannot reproduce this issue
![image](https://user-images.githubusercontent.com/7163132/136837779-2a718469-5395-4272-8e89-f68b0951c3e1.png)

By the way this version is not supported anymore.

Regards,

[2021-10-11 18:34] #200 closed, assigned to nobody

[2021-10-11 18:35] nenes25 commented on #202
Le problème sera corrigé dans la prochaine release.

[2021-10-12 11:22] StudioDel opened #205 "Captcha box is not visible"
**Prestashop Version**
1.7.6.7

**Eicaptcha version**

17

**Do you use a specific theme**

PRS080191 Version 1.0.0
made by TemplateMela

**Describe the bug**

Hi ! I'm a webdesigner and I'm trying to add the captcha security to the contact form of a client website.
I already add the module, and I configured it using api key and secret key provided by google.
Everything seems ok but there is no ca

[2021-10-12 11:47] StudioDel commented on #205
Hi.
I just figured out that i'ts working if I use captcha V2 instead of the V3. Maybe this information can help.

[2021-10-12 12:05] nenes25 commented on #205
Hello,
Yes the new behaviour with v3 is only displayed to the customer if needed.
By default it is invisible, but it works this way :smile:
But you are right I need to update the readme in order to be clearer about this.

Regards,

[2021-10-13 14:06] panacy commented on #205
Hello!
I have similar problem, box is not visible. I use warehouse theme with Syle 8. Here is the address: https://www.rubyvocalbooth.com/pl/content/7-kontakt-z-nami

Can't get keys for reCAPTCHA v2 because it's not available in my admin console :/

Help pls!

![obraz](https://user-images.githubusercontent.com/33621903/137151432-7fe4dce4-1de7-4d33-bc85-94078feb2ebc.png)

[2021-10-19 06:43] nenes25 commented on #205
Hello,
As written before it's not a bug.
It's the new behaviour of recaptcha, i've clarified it in the README file.

Regards,

[2021-10-19 06:49] nenes25 opened #207 "[Tech] Improve release process"
**Is your feature request related to a problem? Please describe.**
In order to simplify the release process i want to automatize the generation of the release file.

**Describe the solution you'd like**
Create the release with github action
Create a release draft with release drafter

[2021-10-20 15:30] panacy commented on #205
Hello!

I've read README file but it does not solve my problem :( I did
everything exactly with the instruction but reCaptcha box is still not
visible. When I do the test message contact form tells me to fill up the
captcha box, but no box :(

Regards
Paul

------ Wiadomość oryginalna ------
Od: "Hervé H." ***@***.***>
Do: "nenes25/eicaptcha" ***@***.***>
DW: "panacy" ***@***.***>; "Comment" ***@*

[2021-10-28 18:36] nenes25 commented on #205
Hello Paul,

I've found why you have an issue on your website.
Your contact form is not on the native dedicated page but in a cms page.
The module will not work with this behavior.
The default contact page on your site will be this one : https://rubyvocalbooth.com/pl/kontakt

Regards,
Hervé

[2021-10-29 13:15] Franck-J opened #208 "Bug après installation"
**Prestashop Version**
Your prestashop version
1.7.8.0
**Eicaptcha version**
Eicaptcha version
2.3.1
**Do you use a specific theme**
Are you using a specific theme, if yes please tell which
Classic
**Describe the bug**
A clear and concise description of what the bug is.
Demande envoyée après vérification recaptcha, formulaire non reçu dans le backoffice, message "Merci de valider le captcha"
**Scr

[2021-10-29 18:57] nenes25 commented on #208
Bonjour,
Je viens de tester sans problèmes particuliers.
Le captcha est bien fonctionnel sur une version 1.7.8.0 que ce soit en v2 ( case à cocher ) ou en v3 ( invisible )
Pouvez-vous fournir une url ?
Est-ce que vous avez des modules additionnels installés ?

Cordialement,

[2021-11-18 11:40] #203 closed, assigned to nenes25

[2021-11-24 05:52] AreSee opened #209 "Security prompt is not displayed"
**Prestashop Version**
1.7.7.8

**Eicaptcha version**
2.3.1

**Do you use a specific theme**
Special Theme from templatemonster

**Describe the bug**
Users do not seem to see a security prompt and can no longer register. I don't know how to test this as I don't get a security prompt from reCaptcha v3.
I only know the bug from user feedback.

How can i test the Security Check?

[2021-12-06 06:09] #208 closed, assigned to nenes25

[2021-12-18 12:57] gringo1er opened #210 "Compatibilité avec PS 1.7.8.x"
Bonjour
Le module crée des soucis de compatibilité avec la version 1.7.8.x (actuellement 1.7.8.2).
Après déploiement, la page de contact (contact form) ne fonctionne plus si elle est surveillée, et fonctionne 10 mn quand elle n'est pas surveillée par Captcha, mais le module actif.
Quand la page contact est surveillée il marche aussi une dizaine de minutes, puis "erreur inattendue".
Je pensais au d

[2021-12-21 20:05] nenes25 commented on #210
Bonjour,

Merci pour votre retour.
Je n'ai jamais eut ce type de comportement ( 10 min de fonctionnement  même si désactivé )
Quelles sont les actions effectuées pour obtenir cette erreur ?

Cordialement,

[2021-12-21 20:07] nenes25 commented on #209
Hello,

Sorry for the late reply.
With private navigation you can have a different behavior.
Have you try the v2 version ?

Regards,

[2021-12-23 17:52] gringo1er commented on #210
Bonsoir

Sur notre site de préprod, j'ai mis en protection captcha v3 la page de
contact et la création de compte.

https://www.agnesdelaguila.com/fr/nous-contacter

Vous verrez, si vous laissez un message, il y aura "une erreur s'est
produite pendant l'envoi".

Ce bug ne survient qu'une dizaine de minutes après la mise en
protection. Avant, les messages partent sans problème.

Si je protège la cr

[2021-12-31 10:52] CamilleVDP commented on #205
Hi Herve,
The captcha works fine in the registration form but not on contact forms added on CMS pages. Do you know how to make it work? Or if there is another module that allows a captcha on those pages?
Thanks a lot.

[2022-01-27 11:30] gs2k84 opened #213 "Impossible d'activer eicaptcha"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.8.x

### Eicaptcha version

_No response_

### Do you use a specific theme ?

Bonjour,

Lorsque vous essayez d'allumer le module, le problème suivant apparaît :

"Impossible d'activer le module eicaptcha. Impossible d'installer la superposition : la méthode postP

[2022-01-27 12:04] nenes25 commented on #213
Hello,

The issue is pretty clear.
This module relies on overriding some native behaviors of Prestashop using a native mechanism.
And one of the function used by the module is already override by another module.

So you will need to install this override manually.

Copy the following code in the beginning of the function postProcess of file override/controllers/front/OrderController.php

`if (

[2022-01-27 12:42] gs2k84 commented on #213
Thank you very much for your help.

The file has been added:

AuthController.php

then I deleted the file I created. And brought back the old one.

I don't know if that's what it was supposed to be like, but it works :)

Regards

[2022-01-27 15:04] nenes25 commented on #213
Hello,
Nice to know everything works as expected now.
So i close this issue :smile:
Regards,

[2022-01-27 15:04] #213 closed, assigned to nenes25

[2022-01-29 23:34] #210 closed, assigned to nenes25

[2022-02-07 15:48] juliendhl opened #214 "demande de validation de captcha apres validation du formulaire"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.8.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

Warehouse

### Describe the bug

a chaque fois que je valide le captcha et le formulaires j'ai un message d'erreur 'valider le captcha'

### Screenshots

*

### Additional context

*

[2022-02-12 08:48] #205 closed, assigned to nenes25

[2022-02-28 23:37] ccoltman opened #215 "Add to checkout page?"
The checkout is the page we are receiving the most spam. How can I configure this to protect it?

[2022-03-01 07:08] nenes25 commented on #215
Hello,

In order to let me know about your configuration, could you please create a new issue using the template : https://github.com/nenes25/eicaptcha/issues/new?assignees=nenes25&labels=bug&template=bug_report.yml ?

I close this one,
Regards,

[2022-03-01 07:08] #215 closed, assigned to nobody

[2022-03-21 10:58] Ananda4h20 opened #216 "Le Captcha n'apparait pas sur le formulaire de contact - Erreur à la validation."
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.8.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

Monstera

### Describe the bug

Salut, j'ai tout bien configuré il me semble, mais le Captcha n'apparait pas sur le formulaire de contact donc impossible de le cocher.

Pourtant, à la validatio

[2022-03-21 11:12] Ananda4h20 commented on #216
Sur un Captcha V3, idem. Je peux créer un compte sans souci... Mais sur le formulaire de contact, cela ne fonctionne pas...

Merci en tout cas pour le boulot et merci pour l'aide si jamais ;-)

[2022-03-21 12:46] Ananda4h20 commented on #216
Sur la console :

Uncaught ReferenceError: require is not defined
    at 10-contact:164:11
(anonyme) @ 10-contact:164

[2022-03-22 20:05] nenes25 commented on #216
Bonjour,

Est-ce que vous pouvez me donner une url ?
Je ne connais pas ce thème il est possible qu'il ne soit pas compatible avec le natif.
Vous pouvez regarder l'article suivant si il est nécessaire de cibler le positionnement du captcha dans le formulaire.
https://www.h-hennes.fr/blog/2018/02/23/eicaptcha-ajout-dune-configuration-avancees-des-selecteurs/

Cordialement,
Hervé

[2022-03-22 20:07] nenes25 commented on #214
Bonjour,

Désolé pour le délai de réponse.
Si le problème est toujours en place, est-ce possible d'avoir une url du site ?

Cordialement,
Hervé

[2022-03-22 20:07] #209 closed, assigned to nenes25

[2022-03-23 19:57] Ananda4h20 commented on #216
Bonjour, merci pour la réponse https://la-jacquerie.fr

[2022-03-23 21:28] nenes25 commented on #216
Bonjour,

En fait le captcha ne fonctionne que sur le formulaire de contact par défaut de prestashop.
Qui est ici : https://la-jacquerie.fr/nous-contacter ( on voit bien que la protection par captcha est active )
En revanche votre formulaire mis en avant est dans une page cms : https://la-jacquerie.fr/content/10-contact
Du coup le captcha ne pourra malheureusement pas fonctionner sur celui-ci.

Co

[2022-03-23 21:30] Ananda4h20 commented on #216
Ahhh bien oui évidemment. Ca roule merci !

[2022-03-28 06:26] #216 closed, assigned to nenes25

[2022-04-24 16:03] atudosz commented on #184
What I've did in modules/eicaptcha/views/templates/hook/hookDisplayCustomerAccountForm.tpl (for v2, which I use)

    {if $captchaVersion == 2}
        <label class="col-md-3 form-control-label">{l s='Captcha' mod='eicaptcha'}</label>
        {if !$customer.is_logged}
        <div class="col-md-9">

[2022-04-24 17:07] atudosz commented on #197
Hungarian translation - probably not perfect, though more than nothing:
[hu.php.txt](https://github.com/nenes25/eicaptcha/files/8550132/hu.php.txt)

[2022-04-25 07:03] nenes25 commented on #197
Thanks @atudosz ! I've added the provided translation :)

[2022-05-01 04:54] #214 closed, assigned to nenes25

[2022-05-02 06:49] nenes25 opened #217 "[enhancement]: Allow to validate custom forms"
### Check if your feature request exists

- [X] My feature request does not already exists

### Is your feature request related to a problem?

As a developer i want to be able to use the module to easily validate my custom forms with the captcha.

### Describe the solution you'd like

Add a new hook in the module which can be called from any other module or controllers.
With configurable parameter

[2022-05-07 14:11] nenes25 opened #218 "Harmonize and fix licence headers"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.8.x

### Eicaptcha version

_No response_

### Do you use a specific theme ?

NR

### Describe the bug

The file licence headers are wrong and related with licence@prestashop.com
This should be fixed on all filles.

### Screenshots

_No response_

### Additional

[2022-05-10 20:56] #135 closed

[2022-05-12 16:19] slay334 opened #219 "Problem on contact form"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.6.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

akira theme

### Describe the bug

Captcha Code doesn't appear in my contact form

### Screenshots

_No response_

### Additional context

_No response_

[2022-05-12 16:19] slay334 commented on #219
https://www.somedis-hygiene.fr/content/19-contactez-nous

[2022-05-12 20:26] nenes25 commented on #219
Hello,

The url you have provided is not on the real contact page of Prestashop.
Which is https://www.somedis-hygiene.fr/nous-contacter and where the recaptcha works as expected.
Unfortunately it will not works on other custom pages.
This issue is the same as this one #216

Regards,

[2022-05-17 10:13] metacreo commented on #162
https://github.com/nenes25/eicaptcha/pull/220

[2022-05-17 17:05] tga21 opened #221 "recaptcha v3 doesn't validate in form added with elementor form builder of warehouse theme"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.8.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

Last version of Warehouse theme, uses elementor builder and is developed by iqitcommerce

### Describe the bug

I have installed the module eicaptcha and added to it the keys for the v3 recaptc

[2022-05-17 19:39] nenes25 commented on #221
Hello @tga21 ,

This issue is the same as #219 and #216
In fact the captcha only works in the default contact page.
I'll try to see what i can do, but for now i've not the time to investigate about this :disappointed:
You may try to load the recaptcha library by hand on the concerned page maybe.

Regards,

[2022-05-18 08:08] tga21 commented on #221
Hello Nenes25,

Thank you very much for your answer. I'm going to look how to solve it with the clue you have given me. If I make it work I'll share here the process.

Regards,
T

[2022-05-18 08:34] Jnetcom opened #222 "Recaptcha is not displayed on my contact form"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

< 1.7

### Eicaptcha version

_No response_

### Do you use a specific theme ?

panda

### Describe the bug

Hi, the recaptcha is not displayed on the contact form of my website.
I noticed that those errors are displayed when I check the installation of the module:
-

[2022-05-18 12:23] tga21 commented on #221
Hi, Nenes25

Marcin from iqit-commerce support team has given me a solution. He told me he edited some code from eicaptcha, so I have checked the files and here are the edits he made. I hope they can help someone else:

1. In module's root, eicaptcha.php:

1.1 line 161:

if ($this->context->controller instanceof ContactController
            && Configuration::get('CAPTCHA_ENABLE_CONTACT') == 1
to

[2022-05-18 15:28] nenes25 commented on #221
Hi @tga21 ,

Thanks for the share :smiley: !
I don't like the approach as the script are then loaded on every pages of the site which is unnecessary for most of the module user.
I will think about adding a configuration which will allow this with a warning for performances.

Regards,

[2022-05-23 07:41] metacreo commented on #162
can be closed. Thanks for all.

[2022-07-07 21:17] ButcherFromHell opened #223 "initContent method in class AuthController has been overriden already - can not enable module"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

< 1.7

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

custom

### Describe the bug

I have uploaded module but can not enable it.

**Error!
Cannot enable module eicaptcha. Unable to install override: The method initContent in the class AuthControlle

[2022-07-10 21:00] Garfield2013 opened #224 "Hook not setup"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.8.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

Please check the screenshots:

[https://www.screencast.com/t/MRv0kl2s2W7j](https://www.screencast.com/t/MRv0kl2s2W7j)
[https://www.screencast.com/t/kQXNKkmuZXU](https://www.screencast.com/t/kQX

[2022-07-10 21:25] Garfield2013 commented on #224
FIXED! I added it to my custom theme as well and now the error disappeared :)

[2022-07-11 08:12] nenes25 commented on #224
Hello,
Great so i close this issue :smile:

[2022-07-11 08:12] #224 closed, assigned to nenes25

[2022-07-11 08:21] nenes25 commented on #223
Hello,

You need to check the content of the file override/controllers/front/Authcontroller.php and you'll see which other module has overwrite it.
Unfortunately it's not possible for 2 different modules to rewrite the same function.

Regards,

[2022-07-11 08:27] Garfield2013 commented on #224
Actually I didn't manage to get your module to work.
I just thought it worked because the recaptcha icon showed up. But it still
complained when I used our site.
So I went with this free module instead:
https://www.team-ever.com/prestashop-google-captcha-anti-spam/
It adds the recaptcha on all pages - without a single issue ;)

On Mon, 11 Jul 2022 at 12:12, Hervé H. ***@***.***> wrote:

[2022-07-11 08:28] #223 closed, assigned to nenes25

[2022-07-15 06:39] nenes25 commented on #222
Hello,

Sorry for the late response.

I guess you should try to reinitialize the module in order to let it install as expected.

Regards,

[2022-07-15 12:12] TFF1604 opened #225 "Recaptcha bug create account"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.3.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

Flatone theme
editor : Atchworks

### Describe the bug

the module appears and functions correctly on the contact page.
But it does not show on the account creation page and prevents the accoun

[2022-07-18 06:52] nenes25 commented on #225
Hello,

Can you send me an Url to check ?
I guess it should be related with the theme.
You can also check if you find the hook displayCustomerAccountForm in it.

Regards,

[2022-07-18 06:55] TFF1604 commented on #225
Bonjour,
voici l'url
https://www.1001couteaux.fr/connexion?create_account=1
c'est le v3 invisible qui est installé

[2022-07-18 06:57] TFF1604 commented on #225
![Capture d’écran 2022-07-18 à 08 56 50](https://user-images.githubusercontent.com/63454932/179458963-bf39ccda-ffed-4f9b-b886-2db291bc39fa.png)

[2022-07-20 09:52] TFF1604 commented on #225
Bonjour Hervé, avez-vous eu le temps de checker pour voir d'où pourrait venir le problème.
Cordialement,
Christophe.

[2022-07-20 11:46] nenes25 commented on #225
Bonjour Christhope,

De mon côté j'ai vérifié sur une version de base en 1.7.3.4 et tout fonctionne comme attendu.
Dans le cas ou le formulaire est protégé on peut voir en bas de page l'icône recaptcha
![image](https://user-images.githubusercontent.com/7163132/179973662-9340722d-d4dc-462c-ab33-5beb614f0509.png)
Ce qui n'est pas le cas sur votre site.

Est-ce que vous pouvez vérifier dans le fichie

[2022-07-20 12:38] TFF1604 commented on #225
Effectivement, le hook n'était pas présent, après l'avoir ajouté et vidé le cache le captcha fonctionne.
merci de votre aide.
Cordialement,
Christophe.

[2022-07-20 13:17] nenes25 commented on #225
Parfait,

Merci pour votre retour.
Je laisse votre demande ouverte et je me note de voir si je ne peux pas améliorer le debug du module pour identifier ce cas.
Car ce n'est pas la première fois qu'il arrive.

Cordialement,
Hervé

[2022-07-20 13:46] TFF1604 commented on #225
Pour info:
4 sites en PS 1.7.3 à chaque fois le hook n'était pas présent et après installation de celui-ci il a fallu vider le cache et tout est ok sur ces 4 sites.
1 site en PS 1.7.6.7
tout a fonctionné correctement, le hook était bien présent.
Cordialement,
Christophe.

[2022-07-20 16:36] nenes25 commented on #225
C'est possible que l'éditeur du thème n'avait pas repris correctement le hook dans son template, la version 1.7.3 est relativement ancienne déjà.
Sur les versions plus récentes il n'y a généralement pas de soucis.

Merci pour vos retours,
Cordialement,
Hervé

[2022-07-24 03:27] TecnoHands opened #226 "reCaptcha doesn't show anywhere Presta 1.7.8.6"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.8.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

Classic and Warehouse

### Describe the bug

I install the module in clean prestahop installation, don't appears have any wrong but Captcha don't appears anywhere in the pages.

Success
the mod

[2022-08-10 15:39] HartLarsson opened #227 "[enhancement]: enable https://www.hcaptcha.com/ too"
### Check if your feature request exists

- [X] My feature request does not already exists

### Is your feature request related to a problem?

Due to recent Problem with Google tools and GDPR why not implementing the compatibility with hCaptcha too? ( https://www.hcaptcha.com/ )

### Describe the solution you'd like

Have a possibility to choose between google recaptcha and hcaptcha

### Additiona

[2022-08-22 14:05] diegofrancesco commented on #225
Hello,
I had the same problem and the solution also works in my case.
PS v 1.7.2.4

Thank you!

[2022-08-22 16:46] #202 closed, assigned to nenes25

[2022-08-22 16:46] nenes25 commented on #184
This functionality is implemented in the new version 2.4.0

[2022-08-22 16:46] #184 closed, assigned to nobody

[2022-08-22 16:47] #217 closed, assigned to nenes25

[2022-08-22 16:47] nenes25 commented on #169
Fix

[2022-08-22 16:47] #169 closed, assigned to nenes25

[2022-08-22 16:47] #165 closed

[2022-08-22 16:48] #162 closed

[2022-08-22 16:49] nenes25 commented on #225
Great thanks all for the feedbacks :smiley:  i close the issue as it's not related with the module

[2022-08-22 16:49] #225 closed, assigned to nenes25

[2022-08-22 16:51] nenes25 commented on #227
Hello @HartLarsson ,

Thanks for your suggestion, your issue is a duplicate of #199
So i'll close it and let the other one opened.
Currently i've no time to work on this, but maybe in the future.

Regards,

[2022-08-22 16:51] #227 closed, assigned to nenes25

[2022-08-22 16:52] #159 closed

[2022-08-22 16:53] #219 closed, assigned to nenes25

[2022-08-22 16:54] #222 closed, assigned to nenes25

[2022-08-22 16:56] nenes25 commented on #226
Hello @TecnoHands  and sorry for the late reply.
Could you please provide some urls to check ?
Pay attention that with v3 version the display of the captcha is just a small box in the bottom right corner as see in the documentation.
Regards,

[2022-09-15 11:22] immergente opened #228 "Spam clients accounts keeps been generated"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.6.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

Sushi_bar v2.2.3

### Describe the bug

Even with Eicaptcha v2.4.0 installed, spam clients accounts keeps been generated. Any clue why is this happening?

### Screenshots

![image](https://user

[2022-10-03 08:36] #226 closed, assigned to nenes25

[2022-10-03 08:39] nenes25 opened #229 "Replace override of Authcontroller"
### Check if your feature request exists

- [X] My feature request does not already exists

### Is your feature request related to a problem?

Auth controller override is no more requested with the hook actionSubmitAccountBefore

### Describe the solution you'd like

As override should be avoided, we can remove it and rely on the use of this hook.
Beware because there is an issue with old versions

[2022-10-08 14:20] irisia4 commented on #187
Hello,

In my case I have v2.7.0 suscription module (from prestashop) and v2.4.0 eicaptcha module and don't work the option "Enable Captcha for newsletter registration". Could you please help me?

[2022-10-10 13:45] nenes25 commented on #187
Hello,
As this issue is closed could you please open a new one with required information ?
Regards,

[2022-10-12 18:20] nenes25 opened #230 "Not registered on hook actionContactFormSubmitCaptcha"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.8.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

Not related with theme

### Describe the bug

When running the debug , the module report that it's not registered on hook actionContactFormSubmitCaptcha
This issue should be related with the re

[2022-10-21 16:05] Paul-88 opened #231 "Recaptcha affiché mais ne fonctionne pas"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.8.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

MegaShop 2.3.0

### Describe the bug

Le logo reCAPTCHA est bien affiché sur la page d'inscription et de contact, il y a bien {$hook_create_account_form nofilter} dans le fichier du thème, cepe

[2022-10-24 06:34] nenes25 commented on #231
Bonjour,

Je ne saurais pas vous dire en détail quelle pourrait être la cause de votre erreur.

Mais plusieurs pistes :
- Vérifier si d'autres modules sont greffés sur le mêmes hooks que le module
- Activer le mode debug et regarder les messages d'erreurs du fichier de log

Cordialement,

[2022-10-24 15:41] Paul-88 commented on #231
![image](https://user-images.githubusercontent.com/116373181/197567495-a5e5ddc3-a3d2-42cd-92a4-9fea5cbcc7e9.png)
Tout semble correcte en comparant avec mon autre boutique Prestashop.

J'ai bien activé le mode debug depuis plusieurs jours, cependant je n'ai aucun fichier présent dans le FTP...

[2022-10-24 20:28] nenes25 commented on #231
Bonjour,

Difficile de pouvoir vous en dire plus sur la cause de l'erreur.
Je pense qu'il va falloir débuguer via le code afin de vérifier ce qu'il se passe.
Peut être un problème de droits concernant le fichier de logs car comme vous pouvez le voir ici : https://github.com/nenes25/eicaptcha/blob/17/eicaptcha.php#L425 dès lors qu'il y'a une erreur de validation il devrait y avoir un log avec l'err

[2022-10-25 18:32] Paul-88 commented on #231
Après avoir activé le mode debug de Prestashop, il ne s'agit pas du tout d'un problème du module mais à l'extension php Allow_url_fopen qui n'était pas activé.
Concernant le fichier de log, en le créant effectivement il arrive à écrire dedans.

Merci pour le coup de pouce ;)

[2022-10-26 12:52] leah68 opened #232 "reCaptcha on form contact always return the error "incorrect response to CAPTCHA challenge. Please try again""
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

< 1.7

### Eicaptcha version

_No response_

### Do you use a specific theme ?

We use our specific theme.

### Describe the bug

It seems that in the hookContactFormAccess $result->isSuccess() does not return anything so that we always pass in the condition if (! $r

[2022-10-27 14:31] immergente commented on #228
Any news? Thanks!

[2022-10-27 23:14] #231 closed, assigned to nenes25

[2022-10-27 23:15] Paul-88 commented on #232
Hi,

See on your PHP config if Allow_url_fopen is enabled.
For me, it's solved the problem

[2022-10-28 09:40] nenes25 commented on #231
Bonjour,

Super merci pour votre retour !
C'est bizarre normalement j'avais un contournement pour ce cas, mais il ne semble donc pas marcher.
Je vais rajouter ce point dans la partie debug du module :smile:

[2022-11-01 20:28] nenes25 commented on #228
Hello,
Please enable the debug mode of the module.
This will allow you to to check if you can find something in the logs at the moment when the users register.
On my side I'm not abble to reproduce your issue.

Regards,

[2022-11-03 15:06] ddv1976 opened #234 "The modulo not save change"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.5.x

### Eicaptcha version

_No response_

### Do you use a specific theme ?

warehouse version 4.2.1

### Describe the bug

When I add the information to the fields, after saving, the changes are not saved, it does not allow selecting the type of captcha v2 or v

[2022-11-06 13:23] andres79 opened #235 "No show in form contact, form account onli in form newsletter"
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.8.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

Warehouse 4.5.5.

### Describe the bug

Hello

I have a problem, Recaptcha is only showing in newsletter form, but not showing in contact form or registration form.

Can you help.

I hope to he

[2022-11-07 07:56] nenes25 commented on #235
Hello,
Could you please provide an url so i can check ?
Regarding the contact form please be aware that it works only on default contact form of Prestashop.
Regards,

[2022-11-07 07:58] nenes25 commented on #234
Hello,

This error should be related with your hosting provider, the configuration form is really basic.
Could you please check if back office is well configured ( ie https enable everywhere for example ? )

Regards,

[2022-11-07 09:19] andres79 commented on #235
Hello

I understand, the contact form is from Elementor, although it says that it is from Prestashop.

The URL is cafecaminos.com

Thank you

[2022-11-07 10:04] nenes25 commented on #235
I confirm that you use the contact form in a non standard way.
You can check here, another user post a solution for the issue : https://github.com/nenes25/eicaptcha/issues/221#issuecomment-1129939889

Regards,

[2022-11-09 10:02] Alex-Besnier commented on #141
Bonjour,

J'ai la même problématique et je vois sur le site donné en exemple que Maxtab semble avoir trouvé une solution car le captcha s'affiche bien sur ces formulaires.
Maxtab, si vous recevez mon message auriez vous une piste à nous partager ?
Merci.

[2022-11-09 15:03] Alex-Besnier commented on #141
Je viens de trouver votre article lié à la nouvelle version 2.4.0 qui a répondu à mon problème.
https://www.h-hennes.fr/blog/2022/08/22/prestashop-ajouter-un-captcha-sur-les-formulaires-de-vos-modules/

Merci pour l'ajout de ces hooks fort pratiques.

Je donne le processus que j'ai utilisé dans mon cas :

Je me suis branché directement sur le fichier /modules/contactform/contactform.php
Dans la fo

[2022-11-09 16:33] nenes25 commented on #141
Bonjour @Alex-Besnier ,
Merci pour le partage d'information :smile: !

[2022-11-15 03:18] nicmorais opened #236 "Can't set the captcha theme and language."
### Check if your issue exists

- [X] I confirm that i've search that my issue does not already exists

### Your prestashop version

1.7.7.x

### Eicaptcha version

2.3.x

### Do you use a specific theme ?

Classic 1.0.0

### Describe the bug

The "I'm not robot" label is in french, and the theme is not chaning to the light one.

### Screenshots

![](https://i.imgur.com/hYknUC2.jpg)

### Additiona

[2022-11-29 15:21] HartLarsson commented on #230
ps 1.7.8.7 same problem with latest version 2.4.0

![image](https://user-images.githubusercontent.com/16102074/204569959-72900019-1db7-429a-adfa-af1c000dd06d.png)

ps_emailsubscription version v2.7.0